<ion-header>
  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let data of companyInfos">
    <ion-card *ngFor="let subdata of data.response">
      <ion-item>
          <ion-thumbnail item-start>
            <img src="{{ subdata.company.logo }}">
          </ion-thumbnail>
          <div class="custom-padding-fortext" text-center>
              <h2>{{ subdata.company.name }}</h2>
            </div>
            <div text-center>
              <h3>Vacantes: {{ subdata.publicationCount }}</h3>
              <h4>Distancia: {{ subdata.maxDistance | number : '1.2-2' }}</h4>
            </div>
          <button ion-button clear item-end (tap)="goTo(subdata.company.id)">View</button>
        </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
