<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle start>
      <ion-icon name="ios-menu-outline"></ion-icon>
  </button>

  <ion-title>Dashboard</ion-title>

  <ion-buttons end>
      <button ion-button icon-only (tap)="userProfile()">
          <ion-icon name="contact"></ion-icon>
      </button>
  </ion-buttons>
  <ion-buttons end>
      <button ion-button icon-only (tap)="logOut()">
          <ion-icon name="log-out"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let data of companyInfos">
    <ion-card *ngFor="let subdata of data.response">
      <ion-item>
          <ion-thumbnail item-start>
            <img src="{{ subdata.company.logo }}">
          </ion-thumbnail>
          <div class="custom-padding-fortext" text-center>
              <h3>{{ subdata.company.name }}</h3>
            </div>
            <div text-center>
              <h3>
                <ion-icon start name="briefcase"></ion-icon>
                Vacantes: {{ subdata.publicationCount }}
              </h3>
              <h4>
                <ion-icon start name="pin"></ion-icon>
                Distancia: {{ subdata.maxDistance | number : '1.2-2' }}</h4>
            </div>
          <button ion-button clear item-end icon-only (tap)="goTo(subdata.company.id)">
                <ion-icon color="secondary" name="arrow-forward"></ion-icon>
          </button>
        </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

