page-profile {
    .custom-title{
        padding: 0% 0% 0% 20%;
    }

    .custom-div{
        padding: 5% 0% 5% 0%;
    }

    .password-icon{
        font-size:2rem;
        position: relative;
        top: 22px;
        margin: 0 auto;
     }
}
