page-modal-reference {

    .custom-div{
        padding: 5% 0% 5% 0%;
    }

    .custom-div-logo{
        padding: 10% 0% 0% 0%; 
    }

    .custom-first-paragraph{
        text-align: center;
        font-weight: bold;
        font-size: 15px;
    }

    .custom-second-paragraph{
        text-align: center;
        font-size: 15px;
        
    }

    .custom-text{
        color: #8a8a8a;
    }

    .custom-word{
        color: #dd4a58;
    }

    .custom-btn{
        width:225px;
    }
}
