page-modal-reference {

    .customDiv{
        padding: 5% 0% 5% 0%;
    }

    .customDivLogo{
        padding: 10% 0% 0% 0%; 
    }

    .customFirstParagraph{
        text-align: center;
        font-weight: bold;
        font-size: 15px;
    }

    .customSecondParagraph{
        text-align: center;
        font-size: 15px;
        
    }

    .customText{
        color: #8a8a8a;
    }

    .customWord{
        color: #dd4a58;
    }

    .customBtn{
        width:225px;
    }
}
