page-user-profile {
    img {
        max-width: 70%;
        border-radius: 50%;
    }

    .center {
        display: block;
        margin: 0 auto;
    }

    .custom-padding{
        padding: 10% 0% 5% 0%;
    }
}
