page-contact {
    .customTitle{
        padding: 0% 0% 0% 20%;
    }

    .customDiv{
        padding: 5% 0% 5% 0%;
    }

    .divSameLine{
        display: flex;
        vertical-align: top;
    }
    
    .divSameLineSeparator{
        padding: 0% 0% 0% 0%;
    }

    .divSameLineSeparatorCodeArea{
        padding: 0% 5% 0% 5%;
    }
    
}
