<ion-header>
  <ion-navbar>
    <ion-title>Vacant</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let data of vacantInfo">
      <ion-card *ngFor="let subdata of data.response">
        <ion-item>
            <ion-thumbnail item-start>
              <img src="{{ subdata.publication.jobPosition.icon }}">
            </ion-thumbnail>
            <div class="custom-padding-fortext" text-center>
              <h2>{{ subdata.publication.jobPosition.jobPositionName }}</h2>
            </div>
            <div text-center>
              <h3>{{ subdata.publication.title }}</h3>
              <h4>Distancia: {{ subdata.distance }}</h4>
            </div>
          </ion-item>
      </ion-card>
    </ion-list>
</ion-content>
